h1, p {
  text-align: center;
  color: #fff;
}

#description {
  font-size: 20px;
}
.container {
  max-width: 600px;
  margin: auto;
  background-color: #3c6c28bd;
  padding: 20px;
  border-radius: 6px;
}
textarea {
  width: 100%;
  border-radius: 6px;
  border-color: #ffffff00;
}
#name, #email, #number {
  width: 100%; 
  box-sizing: border-box;       -webkit-box-sizing:border-box;
-moz-box-sizing: border-box;
height: 30px;
border-radius: 6px;
border-color: #ffffff00;
}

.form-group {
  margin: 20px 5px
}

body {
      font-family: sans-serif;
      background-image: linear-gradient(
      180deg,
      rgba(225, 169,4, 0.6),
      rgba(0, 0, 0, 0.8)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg)
}

label {
    color: #fff;
}

button {
    width: 400px;
    padding: 8px 10px;
    font-size: 16px;
    margin: auto;
    display: block;
    border-radius: 6px;
    border-color: #ffffff00;
    background-color: #e37e00;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

hr {
  height: 4px;
  background-color: #e37e00;
  border-color: #ffffff00;
}
